<div class="filters">
  <mat-form-field>
    <mat-label>Filtrar por:</mat-label>
    <mat-select [(ngModel)]="sort" panelClass="sort-select">
      <mat-option value="name">Nome</mat-option>
      <mat-option value="lancamento">Lançamento</mat-option>
      <mat-option value="adicionado">Adicionado</mat-option>
      <mat-option value="criado">Criado</mat-option>
      <mat-option value="atualizado">Atualizado</mat-option>
      <mat-option value="rating">Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img
        src="https://images.alphacoders.com/563/563020.jpg"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Nome</p>
      <div class="game-platforms">
        <img
          class="game-platform"
          src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Xbox_one_logo.svg"
        />
      </div>
    </div>
  </div>
</div>
