@use "@angular/material" as mat;

@include mat.core();

$strike-primary: mat.define-palette(mat.$purple-palette, 900);
$strike-accent: mat.define-palette(mat.$purple-palette, 500);

$strike-warn: mat.define-palette(mat.$red-palette);

$strike-theme: mat.define-light-theme(
  (
    color: (
      primary: $strike-primary,
      accent: $strike-accent,
      warn: $strike-warn,
    ),
  )
);

@include mat.all-component-themes($strike-theme);

body {
  font-family: Roboto, sans-serif;
  background-color: #151515;
  padding-top: 60px;
  height: 100%;
}

body * {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
